<!DOCTYPE html>
<html lang="es" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Actualizar un registro </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/main.css"> 
</head>

<script type="text/javascript">
    function ConfirmEdit() 
    {
         respuesta = confirm ("¿Desea guardar el registro?");

        if (respuesta == true)
        {
            return true;
        }
        else {
            return false;
        }
    }

</script>



<body>
    <div class="container" id="registration-form">
        <div class="image"> </div>
        <div class="frm p-3 mb-2" style="color: white; background-color: rgb(56, 40, 25); font-family: Georgia, 
        'Times New Roman', Times, serif;"> 
            <h1 align = "center"> Editar Productos </h1>
        </div>
        &nbsp  &nbsp   &nbsp   &nbsp  
            <form action ="/edit/<%= Producto._id %>" method="POST"  style="color: rgb(56, 40, 25)">
                <div class="form-group" align = "right">
                    <button class="btn btn-lg" style="background-color: rgb(56, 40, 25); color: white; font-family: Georgia, 'Times New Roman', 
                    Times, serif;" onclick="return ConfirmEdit()"> Actualizar   </button>
                     <button class="btn btn-lg" style="background-color: rgb(56, 40, 25); color: white; font-family: Georgia, 'Times New Roman', 
                     Times, serif;"> Regresar </button>
                </div>
                <div class="form-group">
                    <label for="Tipo_Producto"> Tipo de producto:  </label>
                    <input type="text" class="form-control" name="Tipo_Producto" value ="<%= Producto.Tipo_Producto %>" 
                    required  class="form-control">
                </div>
                <div class="form-group">
                    <label for="Nombre_Producto">Nombre del producto:  </label>
                    <input type="text" name="Nombre_Producto" class="form-control" value ="<%= Producto.Nombre_Producto %>"
                      required class="form-control">
                </div>
                <div class="form-group">
                    <label for="Descripcion_Producto"> Descripcion del producto: </label>
                    <input type="text" name="Descripcion_Producto" class="form-control" value ="<%= Producto.Descripcion_Producto %>"
                    required class="form-control">
                </div>
                <div class="form-group">
                    <label for="Nombre_Proveedor"> Nombre del proveedor: </label>
                    <input type="text" name="Nombre_Proveedor" class="form-control" value ="<%= Producto.Nombre_Proveedor %>"
                     required class="form-control">
                </div>
                <div class="form-group">
                    <label for="Cantidad_Prodcuto"> Cantidad del producto: </label>
                    <input name="Cantidad_Prodcuto" class="form-control"  value ="<%= Producto.Cantidad_Prodcuto %>"
                    required class="form-control">
                </div>
                <div class="form-group">
                    <label for="Talla_Producto"> Talla del producto: </label>
                    <input type="text" name="Talla_Producto" class="form-control" value ="<%= Producto.Talla_Producto %>"
                     required class="form-control"> 
                    &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp   
                </div>
            </form>
            &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp 
            <div class="col-md-20"> 
    </div>
</body>
</html>